source https://nuget.org/api/v2

nuget FAKE
nuget FParsec-Big-Data-Edition
nuget FSharp.QueryProvider
nuget MSTest.TestAdapter
nuget MSTest.TestFramework
nuget NLog
nuget OpenCover
nuget ReportGenerator
nuget System.Collections.Immutable
nuget FSharp.Data
nuget FSharp.Data.TypeProviders
nuget TestRunner
nuget xunit
nuget xunit.runner.console

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypesTesting.fs