source https://nuget.org/api/v2

nuget FAKE
nuget FParsec-Big-Data-Edition
nuget System.Collections.Immutable
nuget FSharp.TypeProviders.StarterPack
nuget FSharp.Data
nuget FSharp.Data.TypeProviders
nuget xunit
nuget xunit.runner.console